<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TreeDim.StackBuilder.ColladaExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--Logging-->
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Red"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="White"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="White"/>
        <backColor value="Red, HighIntensity"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss} %-5p - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <applicationSettings>
    <TreeDim.StackBuilder.ColladaExporter.Properties.Settings>
      <setting name="GLGEFilePath" serializeAs="String">
        <value>K:\Codeplex\StackBuilder\TreeDim.StackBuilder.ColladaExporter\WebGL\GLGE\glge-compiled-min.js</value>
      </setting>
      <setting name="HTMLFilePath" serializeAs="String">
        <value>K:\Codeplex\StackBuilder\TreeDim.StackBuilder.ColladaExporter\WebGL\GLGE\glge.html</value>
      </setting>
    </TreeDim.StackBuilder.ColladaExporter.Properties.Settings>
  </applicationSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
