<?xml version="1.0"?>
<configuration>
  <!--Confuration sections-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TreeDim.StackBuilder.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="TreeDim.AutoUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="treeDiM.StackBuilder.Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TreeDim.StackBuilder.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="TreeDim.EdgeCrushTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="TreeDim.StackBuilder.ColladaExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--Logging-->
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="RichTextBoxAppender"/>
    </root>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="${TMP}\StackBuilder.log"/>
      <threshold value="INFO"/>
      <appendToFile value="false"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
      </layout>
    </appender>
    <appender name="RichTextBoxAppender" type="log4net.Appender.RichTextBoxAppender">
      <threshold value="DEBUG"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%timestamp [%thread] %-5level %logger – %message %newline"/>
      </layout>
      <mapping>
        <level value="DEBUG"/>
        <textColorName value="DarkGreen"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <textColorName value="ControlText"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <textColorName value="Blue"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <textColorName value="Red"/>
        <bold value="true"/>
        <pointSize value="10"/>
      </mapping>
      <mapping>
        <level value="FATAL"/>
        <textColorName value="Black"/>
        <backColorName value="Red"/>
        <bold value="true"/>
        <pointSize value="12"/>
        <fontFamilyName value="Lucida Console"/>
      </mapping>
    </appender>
    <system.diagnostics>
      <trace autoflush="false" indentsize="3"/>
    </system.diagnostics>
  </log4net>
  <!--User settings-->
  <userSettings>
    <TreeDim.StackBuilder.Desktop.Properties.Settings>
      <setting name="DocumentAuthor" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowAlignedLayer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowAlternateLayer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowedPatterns" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowVerticalX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowVerticalY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowVerticalZ" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PalletOverhangLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PalletOverhangWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeepBestSolutions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NoSolutionsToKeep" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ShowLogConsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowSeveralPalletLayers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowPalletOrientationX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowPalletOrientationY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinDistancePalletTruckWall" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinDistancePalletTruckRoof" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllowVerticalX_CaseAnalysis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowVerticalY_CaseAnalysis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowVerticalZ_CaseAnalysis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowedPatterns_CaseAnalysis" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowAlignedLayer_CaseAnalysis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowAlternateLayer_CaseAnalysis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPalletSolution_CaseAnalysis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverhangX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OverhangY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowImagesPallet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowImagesTrue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowImagesCase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumberWallsLength" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NumberWallsWidth" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NumberWallsHeight" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="WallThickness" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="WallSurfaceMass" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="NumberBoxesPerCase" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="PalletHeight" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="ForceVerticalBoxOrientation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PalletTypeName" serializeAs="String">
        <value>EUR</value>
      </setting>
      <setting name="ShowStartPage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UnitSystem" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ReportInitialDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowLayerOrientChange" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowLayerOrientChangeLastOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CompanyLogoPath" serializeAs="String">
        <value>..\..\..\TreeDim.StackBuilder.Reporting\ReportTemplates\TreeDim.png</value>
      </setting>
      <setting name="ReporterImageSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReportTemplatePath" serializeAs="String">
        <value>..\..\..\TreeDim.StackBuilder.Reporting\ReportTemplates\ReportTemplateHtml.xsl</value>
      </setting>
      <setting name="HasPluginINTEX" serializeAs="String">
        <value>True</value>
      </setting>
    </TreeDim.StackBuilder.Desktop.Properties.Settings>
    <TreeDim.AutoUpdater.Properties.Settings>
      <setting name="VersionFile" serializeAs="String">
        <value>SBVersion.txt</value>
      </setting>
      <setting name="DownloadURL" serializeAs="String">
        <value>http://www.plmpack.com/stackbuilder/download/</value>
      </setting>
    </TreeDim.AutoUpdater.Properties.Settings>
    <treeDiM.StackBuilder.Plugin.Properties.Settings>
      <setting name="pictoTOP" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DatabasePathINTEX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultDir" serializeAs="String">
        <value></value>
      </setting>
      <setting name="PalletHeight" serializeAs="String">
        <value></value>
      </setting>      
    </treeDiM.StackBuilder.Plugin.Properties.Settings>
  </userSettings>
  <!--Application settings-->
  <applicationSettings>
    <TreeDim.StackBuilder.Desktop.Properties.Settings>
      <setting name="PalletSolutionsPath" serializeAs="String">
        <value>..\..\..\PalletSolutionsDB\</value>
      </setting>
      <setting name="StartPageUrl" serializeAs="String">
        <value>http://www.plmpack.com/stackbuilder/stackbuilder_start_page.htm</value>
      </setting>
      <setting name="CultureToUse" serializeAs="String">
        <value>en-us</value>
      </setting>
    </TreeDim.StackBuilder.Desktop.Properties.Settings>
    <TreeDim.EdgeCrushTest.Properties.Settings>
      <setting name="CardboardQualityDBFile" serializeAs="String">
        <value>K:\Codeplex\StackBuilder\TreeDim.EdgeCrushTest\CardboardQualityData\CardboardQualityData.xml</value>
      </setting>
    </TreeDim.EdgeCrushTest.Properties.Settings>
    <TreeDim.StackBuilder.ColladaExporter.Properties.Settings>
      <setting name="GLGEFilePath" serializeAs="String">
        <value>..\..\..\TreeDim.StackBuilder.ColladaExporter\WebGL\GLGE\glge-compiled-min.js</value>
      </setting>
      <setting name="HTMLFilePath" serializeAs="String">
        <value>..\..\..\TreeDim.StackBuilder.ColladaExporter\WebGL\GLGE\glge.html</value>
      </setting>
    </TreeDim.StackBuilder.ColladaExporter.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
