<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TreeDim.StackBuilder.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TreeDim.StackBuilder.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--Logging-->
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="RichTextBoxAppender" />
    </root>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Log.txt"/>
      <threshold value="INFO"/>
      <appendToFile value="false"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
      </layout>
    </appender>
    <appender name="RichTextBoxAppender" type="log4net.Appender.RichTextBoxAppender">
      <threshold value="DEBUG"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%timestamp [%thread] %-5level %logger – %message %newline" />
      </layout>
      <mapping>
        <level value="DEBUG" />
        <textColorName value="DarkGreen" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <textColorName value="ControlText" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <textColorName value="Blue" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <textColorName value="Red" />
        <bold value="true" />
        <pointSize value="10" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <textColorName value="Black" />
        <backColorName value="Red" />
        <bold value="true" />
        <pointSize value="12" />
        <fontFamilyName value="Lucida Console" />
      </mapping>
    </appender>
    <system.diagnostics>
      <trace autoflush="false" indentsize="3" />
    </system.diagnostics>
  </log4net>
  <!--User settings-->
  <userSettings>
    <TreeDim.StackBuilder.Desktop.Properties.Settings>
      <setting name="DocumentAuthor" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowAlignedLayer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowAlternateLayer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowedPatterns" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowVerticalX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowVerticalY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowVerticalZ" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PalletOverhangLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PalletOverhangWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeepBestSolutions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NoSolutionsToKeep" serializeAs="String">
        <value>10</value>
      </setting>
    </TreeDim.StackBuilder.Desktop.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <TreeDim.StackBuilder.Desktop.Properties.Settings>
      <setting name="ReportTemplatePath" serializeAs="String">
        <value>K:\Codeplex\StackBuilder\TreeDim.StackBuilder.ReportingMSWord\ReportTemplate\Report.xslt</value>
      </setting>
    </TreeDim.StackBuilder.Desktop.Properties.Settings>
  </applicationSettings>
</configuration>