<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TreeDim.StackBuilder.ColladaExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--Logging-->
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="RichTextBoxAppender"/>
    </root>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="${TMP}\StackBuilder.log"/>
      <threshold value="INFO"/>
      <appendToFile value="false"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
      </layout>
    </appender>
    <appender name="RichTextBoxAppender" type="log4net.Appender.RichTextBoxAppender">
      <threshold value="DEBUG"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%timestamp [%thread] %-5level %logger – %message %newline"/>
      </layout>
      <mapping>
        <level value="DEBUG"/>
        <textColorName value="DarkGreen"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <textColorName value="ControlText"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <textColorName value="Blue"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <textColorName value="Red"/>
        <bold value="true"/>
        <pointSize value="10"/>
      </mapping>
      <mapping>
        <level value="FATAL"/>
        <textColorName value="Black"/>
        <backColorName value="Red"/>
        <bold value="true"/>
        <pointSize value="12"/>
        <fontFamilyName value="Lucida Console"/>
      </mapping>
    </appender>
    <system.diagnostics>
      <trace autoflush="false" indentsize="3"/>
    </system.diagnostics>
  </log4net>
  <!--Application settings-->
  <applicationSettings>
    <TreeDim.StackBuilder.ColladaExporter.Properties.Settings>
      <setting name="HTMLFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="GLGEFilePath" serializeAs="String">
        <value/>
      </setting>
    </TreeDim.StackBuilder.ColladaExporter.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
