<?xml version="1.0" encoding="UTF-8"?>

<!-- Manufacturer -->
<?define ShortcutFolder="Picador Windows"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >
  <Module Id="MergeModuleSB" Language="1033" Version="0.2.3.0">
    <Package Id="c0d647e3-ae85-433b-9660-df474dcfcf7c" Manufacturer="MergeModuleSB" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="StackBuilder" Name="StackBuilder">
          <Directory Id="LOCALIZATION_FR" Name="fr-FR"/>
          <Directory Id="LOCALIZATION_JP" Name="ja-JP"/>
          <Directory Id="REPORTTEMPLATES" Name="ReportTemplates"/>
          <Directory Id="PALLETSOLUTIONSDB" Name="PalletSolutionsDB"/>
          <Directory Id="SAMPLES" Name="Samples"/>
          <Directory Id="XMLSCHEMAS" Name="XML Schemas"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs" ShortName="PMenu">
        <Directory Id="ApplicationShortcutFolder" Name="$(var.ShortcutFolder)" ShortName="Picador"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>
    </Directory>
    <!--Properties-->
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
    <!--Components-->
    <!--Icon-->
    <Icon Id="_treeDim.ico" SourceFile="..\TreeDim.StackBuilder.Desktop\Resources\treeDim.ico"/>
    <!-- Add files to installer package -->
    <DirectoryRef Id="StackBuilder">
      <Component Id="References" Guid="{F464B17D-D223-4c7a-BDDD-A0647B7D7430}">
        <File Id="log4net.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\log4net.dll" KeyPath="yes" Checksum="yes"/>
        <File Id ="WeifenLuo.WinFormsUI.Docking.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\WeifenLuo.WinFormsUI.Docking.dll" Checksum="yes"/>
        <File Id ="OfficePickers.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\OfficePickers.dll" Checksum="yes"/>
        <File Id ="PropertyGridEx.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\PropertyGridEx.dll" Checksum="yes"/>
        <File Id ="SourceGrid.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\SourceGrid.dll" Checksum="yes"/>
        <File Id ="Sharp3D.Math.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\Sharp3D.Math.dll" Checksum="yes"/>
        <File Id ="ExceptionReporter.Winforms.dll" Source="..\TreeDim.Stackbuilder.Desktop\Bin\Release\ExceptionReporter.Winforms.dll" Checksum="yes"/>
        <File Id ="Win32Mapi.dll" Source="..\TreeDim.Stackbuilder.Desktop\Bin\Release\Win32Mapi.dll" Checksum="yes"/>
      </Component>
      <Component Id="Application" Guid="{58548AED-E30F-4b0c-A910-C94BE00640C8}">
        <File Id="TreeDim.StackBuilder.Desktop.exe" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\TreeDim.StackBuilder.Desktop.exe" KeyPath="yes" Checksum="yes"/>
        <!--File type association : begin-->
        <ProgId Id="TreeDim.StackBuilder" Description="TreeDim StachBuilder Data File" Icon="TreeDim.StackBuilder.Desktop.exe" IconIndex="0">
          <Extension Id="stb" ContentType="application/xml">
            <Verb Id="open" Command="Open" TargetFile="TreeDim.StackBuilder.Desktop.exe" Argument='"%1\"' />
          </Extension>
        </ProgId>
        <!--File type association : end-->
        <File Id="TreeDim.EdgeCrushTest.dll" Source="..\TreeDim.EdgeCrushTest\Bin\Release\TreeDim.EdgeCrushTest.dll" Checksum="yes"/>
        <File Id="TreeDim.StackBuilder.Desktop.exe.config" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\TreeDim.StackBuilder.Desktop.exe.config" Checksum="yes"/>
        <File Id="TreeDim.StackBuilder.Graphics.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\TreeDim.StackBuilder.Graphics.dll" Checksum="yes"/>
        <File Id="TreeDim.StackBuilder.Engine.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\TreeDim.StackBuilder.Engine.dll" Checksum="yes"/>
        <File Id="TreeDim.StackBuilder.Basics.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\TreeDim.StackBuilder.Basics.dll" Checksum="yes"/>
        <File Id="TreeDim.StackBuilder.ReportingMSWord.dll" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\TreeDim.StackBuilder.ReportingMSWord.dll" Checksum="yes"/>
        <File Id="TreeDim.StackBuilder.Reporting.XsltGenerator.exe" Source="..\TreeDim.StackBuilder.Reporting.XsltGenerator\bin\Release\TreeDim.StackBuilder.Reporting.XsltGenerator.exe" Checksum="yes"/>
        <File Id="TreeDim.StackBuilder.Desktop.chm" Source="..\TreeDim.StackBuilder.Desktop\Bin\Release\TreeDim.StackBuilder.Desktop.chm" Checksum="yes"/>
        <File Id="TreeDim.StackBuilder.XmlFileProcessor.exe" Source="..\TreeDim.StackBuilder.XmlFileProcessor\Bin\Release\TreeDim.StackBuilder.XmlFileProcessor.exe" Checksum="yes"/>
        <File Id="TreeDim.StackBuilder.XmlFileProcessor.exe.config" Source="..\TreeDim.StackBuilder.XmlFileProcessor\Bin\Release\TreeDim.StackBuilder.XmlFileProcessor.exe.config" Checksum="yes"/>
        <File Id="Plossum_CommandLine.dll" Source="..\TreeDim.StackBuilder.XmlFileProcessor\Bin\Release\Plossum CommandLine.dll" Checksum="yes"/>
        <File Id="C5.dll" Source="..\TreeDim.StackBuilder.XmlFileProcessor\Bin\Release\C5.dll" Checksum="yes"/>
        <!--update config file-->
        <util:XmlFile Id="SetInitialReportTemplatePath"
                      File="[StackBuilder]TreeDim.StackBuilder.Desktop.exe.config"
                      Action="setValue"
                      ElementPath="/configuration/applicationSettings/TreeDim.StackBuilder.Desktop.Properties.Settings/setting[\[]@name='ReportTemplatePath'[\]]/value"
                      Value="[REPORTTEMPLATES]"/>
        <util:XmlFile Id="SetPalletSolutionsDBPath"
                      File="[StackBuilder]TreeDim.StackBuilder.Desktop.exe.config"
                      Action="setValue"
                      ElementPath="/configuration/applicationSettings/TreeDim.StackBuilder.Desktop.Properties.Settings/setting[\[]@name='PalletSolutionsPath'[\]]/value"
                      Value="[PALLETSOLUTIONSDB]"/>
        <util:XmlFile Id="SetStackBuilderSchemaPath"
                      File="[StackBuilder]TreeDim.StackBuilder.XmlFileProcessor.exe.config"
                      Action="setValue"
                      ElementPath="/configuration/applicationSettings/TreeDim.StackBuilder.XmlFileProcessor.Properties.Settings/setting[\[]@name='XmlSchemaFilePath'[\]]/value"
                      Value="[StackBuilder]XML Schemas\StackBuilderSchema.xsd"/>
        <!--update config file-->
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="XMLSCHEMAS">
      <Component Id="XmlSchemas" Guid="{A5C4F5DC-49B3-4df8-9FA4-2AD1F4737C3F}">
        <File Id="StackBuilderSchema.xsd" Source="..\TreeDim.StackBuilder.XmlFileProcessor\XML Schemas\StackBuilderSchema.xsd" Checksum="yes"/>
        <File Id="SolutionListSchema.xsd" Source="..\TreeDim.StackBuilder.XmlFileProcessor\XML Schemas\SolutionListSchema.xsd" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="LOCALIZATION_FR">
      <Component Id="resources_fr_FR" Guid="{C5AF9823-6681-4ac1-872F-AA6873A87D50}">
        <File Id="TreeDim.StackBuilder.Desktop.resources.dll_fr.FR" Source ="..\TreeDim.StackBuilder.Desktop\Bin\Release\fr-FR\TreeDim.StackBuilder.Desktop.resources.dll"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="LOCALIZATION_JP">
      <Component Id="resources_ja_JP" Guid="{67FFCA56-36E7-4fc2-B931-3EC0339D274D}">
        <File Id="TreeDim.StackBuilder.Desktop.resources.dll_ja.JP" Source ="..\TreeDim.StackBuilder.Desktop\Bin\Release\ja-JP\TreeDim.StackBuilder.Desktop.resources.dll"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="REPORTTEMPLATES">
      <Component Id="ReportTemplates" Guid="{08CB4826-0A0B-4c82-9783-E037106599AE}">
        <File Id="WML2XSLT.EXE" Source="..\TreeDim.StackBuilder.ReportingMSWord\ReportTemplates\WML2XSLT.EXE" Checksum="yes" KeyPath="yes"/>
        <File Id="interop.schemalibraryclass.dll" Source="..\TreeDim.StackBuilder.ReportingMSWord\ReportTemplates\interop.schemalibraryclass.dll" Checksum="yes"/>
        <File Id="ReportTemplate_ENU.xml" Source="..\TreeDim.StackBuilder.ReportingMSWord\ReportTemplates\ReportTemplate_ENU.xml" Checksum="yes"/>
        <File Id="ReportTemplate_FRA.xml" Source="..\TreeDim.StackBuilder.ReportingMSWord\ReportTemplates\ReportTemplate_FRA.xml" Checksum="yes"/>
        <File Id="ReportTemplate_JPN.xml" Source="..\TreeDim.StackBuilder.ReportingMSWord\ReportTemplates\ReportTemplate_JPN.xml" Checksum="yes"/>
        <File Id="ReportSchema.xsd" Source="..\TreeDim.StackBuilder.ReportingMSWord\ReportTemplates\ReportSchema.xsd" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="PALLETSOLUTIONSDB">
      <Component Id="PalletSolutionsDB" Guid="{0D9897D8-0A69-4432-8E1A-9364CDF977B3}">
        <File Id="Index.xml" Source="..\PalletSolutionsDB\Index.xml"/>
        <File Id="_44c1c155_bd5b_49d7_aefd_e1bc13961418.stb" Source="..\PalletSolutionsDB\44c1c155_bd5b_49d7_aefd_e1bc13961418.stb"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SAMPLES">
      <Component Id="Samples" Guid="{E46693C3-7E18-4278-9DEE-8D7C5ED96552}">
        <File Id="Matches.stb" Source="..\Samples\Matches.stb"/>
        <File Id="Matches.doc" Source="..\Samples\Matches.doc"/>
        <File Id="Case_44_28_29.stb" Source="..\Samples\Case_44_28_29.stb"/>
        <File Id="Case_44_28_29.doc" Source="..\Samples\Case_44_28_29.doc"/>
        <File Id="XmlFileProcessorInput.xml" Source="..\Samples\XmlFileProcessorInput.xml"/>
        <File Id="TestXmlFileProcessor.bat" Source="..\Samples\TestXmlFileProcessor.bat"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ApplicationShortcutFolder">
      <!--Application shortcut & Uninstall shortcut-->
      <Component Id="ProgramMenuShortcutComp" Guid="{AEB5AFCA-E43E-4523-9551-90D406BAD8E6}">
        <Shortcut Id="ProgramMenuShortcut"
                  Name="Stackbuilder"
                  Description="StackBuilder palettization application"
                  Target="[StackBuilder]TreeDim.StackBuilder.Desktop.exe"
                  Icon="_treeDim.ico"/>
        <RemoveFolder Id="RemoveApplicationShortcutFolder" On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="$(var.ShortcutFolder)\StackBuilder"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcutComp" Guid="{28CF1E86-4236-4cd8-8AED-0CB95B579C25}">
        <Shortcut Id="DesktopShortCut"
                  Name="PLMPack Stackbuilder"
                  Description="StackBuilder palettization application"
                  Target="[StackBuilder]TreeDim.StackBuilder.Desktop.exe"
                  Icon="_treeDim.ico"/>
        <RegistryValue Root="HKCU"
                Key="$(var.ShortcutFolder)\StackBuilder"
                Name="installed"
                Type="integer"
                Value="1"
                KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Module>
</Wix>
