<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StackBuilderEntities" connectionString="metadata=res://*/ModelSQLite.csdl|res://*/ModelSQLite.ssdl|res://*/ModelSQLite.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=K:\Codeplex\StackBuilder\TreeDim.StackBuilder.SQLite\StackBuilder.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>