<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Bundle
    Name="StackBuilder"
    Version="1.0.18.0"
    Manufacturer="treeDiM"
    UpgradeCode="3b6ab985-d566-4400-93c3-7a17e720eebf"
    IconSourceFile="StackBuilder.ico">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        SuppressOptionsUI="no"
        LicenseUrl=""
        LogoFile="StackBuilder.png"
        ThemeFile="RtfTheme.xml"/>
    </BootstrapperApplicationRef>
		<Chain>
      <PackageGroupRef Id="Netfx4Full"/>
      <MsiPackage
                Compressed="yes"
                SourceFile="..\SetupSB\bin\Release\StackBuilder.msi"
                Vital="yes"
                DisplayInternalUI="no"
                ForcePerMachine="yes"
                Visible="yes">
        <MsiProperty
            Name="ARPSYSTEMCOMPONENT"
            Value="1"/>
      </MsiPackage>
		</Chain>
	</Bundle>
  <Fragment>
    <util:RegistrySearch
            Root="HKLM"
            Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full"
            Value="Version"
            Variable="Netfx4FullVersion" />
    <util:RegistrySearch
        Root="HKLM"
        Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full"
        Value="Version"
        Variable="Netfx4x64FullVersion"
        Win64="yes" />
    <PackageGroup
            Id="Netfx4Full">
      <ExePackage
          Id="Netfx4Full"
          Cache="no"
          Compressed="no"
          PerMachine="yes"
          Permanent="yes"
          Vital="yes"
          SourceFile="dotNetFx40_Full_x86_x64.exe"
          DownloadUrl="http://go.microsoft.com/fwlink/?LinkId=164193"
          DetectCondition="Netfx4FullVersion AND (NOT VersionNT64 OR Netfx4x64FullVersion)" />
    </PackageGroup>
  </Fragment>
</Wix>