<?xml version="1.0" encoding="UTF-8"?>
<!--definitions : beg-->
<?define SkuName = "StackBuilder"?>
<?define ProductVersion = "1.0.34.0"?>
<?define Manufacturer="treeDiM"?>
<?define ProductName = "StackBuilder"?>
<?define UpgradeCode="3b6ab985-d566-4400-93c3-7a17e720eebf"?>
<!--definitions : end-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="$(var.ProductName)"
          Version="$(var.ProductVersion)"
          Manufacturer="$(var.Manufacturer)"
          UpgradeCode="$(var.UpgradeCode)"
          IconSourceFile="StackBuilder.ico"
          Copyright="Copyright© 2014, treeDiM"
          AboutUrl="http://www.picador.fr"
          HelpUrl="http://www.picador.fr"
          Condition="(VersionNT >= v5.0)">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        SuppressOptionsUI="yes"
        LicenseUrl=""
        ThemeFile="RtfTheme.xml"/>
    </BootstrapperApplicationRef>
    <WixVariable Id="WixStdbaLogo" Value="WixUIBanner.png" />
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]treeDiM\PLMPack\StackBuilder" />
    <Variable Name="LaunchTarget" Value="[InstallFolder]\Bin\TreeDim.StackBuilder.Desktop.exe"/>
    <Chain>
      <PackageGroupRef Id="Netfx4Full"/>
      <!-- Note: DisplayInternalUI is set to yes in order to show registration dialog -->
      <MsiPackage
          Compressed="yes"
          SourceFile="..\SetupSB\bin\Release\StackBuilder.msi"
          Vital="yes"
          DisplayInternalUI="yes"
          ForcePerMachine="yes"
          Visible="yes">
        <MsiProperty Name="ARPSYSTEMCOMPONENT" Value="1"/>
        <MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
  <Fragment>
    <util:RegistrySearch
        Root="HKLM"
        Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full"
        Value="Version"
        Variable="Netfx4FullVersion" />
    <util:RegistrySearch
        Root="HKLM"
        Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full"
        Value="Version"
        Variable="Netfx4x64FullVersion"
        Win64="yes" />
    <PackageGroup
            Id="Netfx4Full">
      <ExePackage
          Id="Netfx4Full"
          Cache="no"
          Compressed="no"
          PerMachine="yes"
          Permanent="yes"
          Vital="yes"
          SourceFile="dotNetFx40_Full_x86_x64.exe"
          DownloadUrl="http://go.microsoft.com/fwlink/?LinkId=164193"
          InstallCondition="Netfx4FullVersion AND (NOT VersionNT64 OR Netfx4x64FullVersion)"
          DetectCondition="Netfx4FullVersion AND (NOT VersionNT64 OR Netfx4x64FullVersion)">
        <ExitCode Behavior="success" Value="3010"/>
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>