<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TreeDim.StackBuilder.GUIExtension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeDim.StackBuilder.GUIExtension.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TreeDim.StackBuilder.GUIExtension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="StackBuilderEntities" connectionString="metadata=res://*/ModelSQLite.csdl|res://*/ModelSQLite.ssdl|res://*/ModelSQLite.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=K:\Codeplex\StackBuilder\TreeDim.StackBuilder.SQLite\StackBuilder.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  
  <userSettings>
    <TreeDim.StackBuilder.GUIExtension.Properties.Settings>
      <setting name="PalletName" serializeAs="String">
        <value>EUR</value>
      </setting>
      <setting name="AllowOrientationX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowOrientationY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowOrientationZ" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverhangX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OverhangY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PalletHeight" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="CaseWeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseMaximumPalletWeight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaximumPalletWeight" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DefaultDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportTypeIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OpenGeneratedFile" serializeAs="String">
        <value>True</value>
      </setting>
    </TreeDim.StackBuilder.GUIExtension.Properties.Settings>
    <TreeDim.StackBuilder.GUIExtension.Settings1>
      <setting name="PalletName" serializeAs="String">
        <value>EUR</value>
      </setting>
    </TreeDim.StackBuilder.GUIExtension.Settings1>
  </userSettings>
  <applicationSettings>
    <TreeDim.StackBuilder.GUIExtension.Properties.Settings>
      <setting name="ReportTemplatePath" serializeAs="String">
        <value>K:\Codeplex\StackBuilder\TreeDim.StackBuilder.Reporting\ReportTemplates</value>
      </setting>
    </TreeDim.StackBuilder.GUIExtension.Properties.Settings>
  </applicationSettings>
</configuration>