<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Module Id="StackBuilderGUIExtMSM" Language="1033" Version="1.0.0.0">
    <Package Id="27807e7c-accd-496f-8cfe-09de354c6051" Manufacturer="Microsoft" InstallerVersion="200" />
    <DirectoryRef Id="BIN32">
      <Component Id="StackBuilder" Guid="{AF1B8D78-642E-4370-8BFC-3775DDB3B67E}">
        <File KeyPath="yes" Source="..\TreeDim.StackBuilder.GUIExtension\Bin\Release\TreeDim.StackBuilder.GUIExtension.dll" />
        <File Source="..\TreeDim.StackBuilder.GUIExtension\Bin\Release\TreeDim.StackBuilder.Basics.dll" />
        <File Source="..\TreeDim.StackBuilder.GUIExtension\Bin\Release\TreeDim.StackBuilder.Engine.dll" />
        <File Source="..\TreeDim.StackBuilder.GUIExtension\Bin\Release\TreeDim.StackBuilder.Graphics.dll" />
        <File Source="..\TreeDim.StackBuilder.GUIExtension\Bin\Release\TreeDim.StackBuilder.Reporting.dll" />
        <File Source="..\TreeDim.StackBuilder.GUIExtension\Bin\Release\TreeDim.EdgeCrushTest.dll" />
      </Component>
      <Component Id="SourceGrid" Guid="{35E01101-97AF-427B-A2E7-DD37F99A21C6}">
        <File KeyPath="yes" Source="..\TreeDim.StackBuilder.GUIExtension\Bin\Release\SourceGrid.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="REPORTTEMPLATES">
      <Component Id="ReportTemplates" Guid="{08CB4826-0A0B-4c82-9783-E037106599AE}">
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\ReportTemplateHtml.xsl" Checksum="yes" />
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\ENU.xml" Checksum="yes" />
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\FRA.xml" Checksum="yes" />
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\DEU.xml" Checksum="yes" />
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\CAT.xml" Checksum="yes" />
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\ESP.xml" Checksum="yes" />
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\JPN.xml" Checksum="yes" />
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\ITA.xml" Checksum="yes" />
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\ReportTypes.xsd" Checksum="yes" />
        <File Source="..\TreeDim.StackBuilder.Reporting\ReportTemplates\ReportSchema.xsd" Checksum="yes" />
      </Component>
    </DirectoryRef>
  </Module>
</Wix>
